@import 'partials/clearfix';
@import 'partials/general_styles';
@import 'partials/reset';
$small:'only screen and (min-width: 200px) and (max-width: 599px)';
$medium:'only screen and (min-width: 600px) and (max-width: 899px)';
$large:'(max-width: 900px)';
@mixin small{
  @media #{small}{
    @content;
  }
}
@mixin medium{
  @media #{medium}{
    @content;
  }
}
@mixin large{
  @media #{large}{
    @content;
  }
}

body{
  .row{
    display:flex;
    flex-flow:row;
    justify-content: center;
  }
}

p{
  color:black;
  font-size: 250%;
}