@import 'partials/clearfix';
@import 'partials/general_styles';
@import 'partials/reset';
$small:'only screen and (min-width: 200px) and (max-width: 599px)';
$medium:'only screen and (min-width: 600px) and (max-width: 899px)';
$large:'(max-width: 900px)';
@mixin small{
  @media #{small}{
    @content;
  }
}
@mixin medium{
  @media #{medium}{
    @content;
  }
}
@mixin large{
  @media #{large}{
    @content;
  }
}

body{
  .line{
    height:10%;
    width: 100%;
  }
  .row{
    display:flex;
    flex-flow:row;
    justify-content: center;
  }
  .frame{
    display: flex;
    flex-flow:row;
    justify-content:center;
    .main{
      display:flex;
      flex-direction: column;
      .mainTitle{
          font-size: 250%;
      }
    }
    .column{
      display: flex;
      flex-flow:column;
      .photo{
      }
    }
  }
}

p{
  color:black;
}