@import 'partials/reset';
@import 'partials/clearfix';
// @import 'partials/general_styles';
$small:'only screen and (min-width: 200px) and (max-width: 599px)';
$medium:'only screen and (min-width: 600px) and (max-width: 899px)';
$large:'(max-width: 900px)';
@mixin small{
  @media #{small}{
    @content;
  }
}
@mixin medium{
  @media #{medium}{
    @content;
  }
}
@mixin large{
  @media #{large}{
    @content;
  }
}

body{
  .pik{
    max-height: 250px;
    max-width: 400px;
  }
  text-decoration: none;
  .buttonBar{
    display:flex;
    flex-direction: row;
    justify-content: center;
    button{
      width: 22.5%;
    }
    button:hover{
      border-style: solid;
      border-width: thick;
    }
  }
  .textHeader{
    display:flex;
    flex-direction: row;
    justify-content: center;
    h1{
      font-size: 400%;
    }
    p{
      font-size: 100%;
      width: 24em;
      word-wrap: break-word;
    }
  }
  .line{
    height:10%;
    width: 100%;
  }
  .row{
    display:flex;
    flex-flow:row;
    justify-content: center;
    .photo{
      margin-left: 10px;
      margin-right: 10px;
    }
    .pik:hover{
      border-style: solid;
      border-width: thick;
    }
  }
  .frame{
    display: flex;
    flex-flow:row;
    justify-content:center;
      .mainTitle{
          font-size: 250%;
      }
    .column{
      margin-left: 20px;
    }
  }
  .editImage{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;

  }
  input[type=text], select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 75%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}