html
  head
    title Gallery Index
  body
    h1 Gallery Index
    each picture, index in pictures
      div
        a(href="/gallery/" + index)
          img(src=picture.url id=index)
        p= 'Uploaded by' + picture.author
        p= picture.description
