html
  head
    title Gallery Index
  body
    h1 Gallery Index
    each picture, index in pictures
      div
        a(href="/gallery/" + index)
          img(src=picture.dataValues.url id=picture.dataValues.id)
        p= 'Uploaded by' + picture.dataValues.author
        p= picture.dataValues.description
