doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Login
    link(rel='stylesheet', href='/css/styles.css')
  body
    form( method='POST' action='/login')
      input(type="text" name="username" value="username")
      input(type='password' name="password" value="password")
      input(type='submit', value='Login')


