-var loginHelp = "location.href = '/" + loginStatus + "'"
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title New Gallery Image
    link(rel='stylesheet', href='/css/styles.css')
  body
    div(class= 'buttonBar')
      button(type='button', onclick="location.href='/gallery/new'") New Picture
      button(type='button', onclick= loginHelp) #{loginStatus.charAt(0).toUpperCase() + loginStatus.slice(1)}
      button(type='button', onclick="location.href='/'") Home
    h1= "New Gallery Image by " + author
    form(type= 'x-www-form-urlencoded' method='POST' action='/gallery')
      h2 Url
      input(type= "text" name="url")
      br
      h2 Description
      textarea(name="description")
      br
      input(type='submit', value='Submit')